:root {
  --primari-font: 'Roboto', sans-serif;
  --secondari-font: 'Raleway', sans-serif;
  --primari-text-color: #434455;
  --secondari-text-color: #2e2f42;
  --footer-text-color: #e7e9fc;
  --withe-text-color: #ffffff;
  --withe-logo-color: #f4f4fd;
  --logo-hover-color: #4d5ae5;
  --hover-btn-color: #404bbf;
}

/*=====================reset============================================*/
*, *::before, *::after{
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

/*=====================================componets============================================*/
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  color: var(--secondari-text-color);
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: row;
}
.hidden-title {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.suptitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: var(--secondari-text-color);
}
.btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  align-content: center;
  border-radius: 4px;
}
.card-content {
  padding: 32px 16px;
  border: 1px solid var(--footer-text-color);
  border-top: none;
  background-color: var(--withe-text-color);
}
/*=======================================body=======================================*/
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primari-text-color);
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*==================================logo styles====================================*/
.logo {
  font-family: var(--secondari-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em; 
  margin-right: 76px;

  color: var(--logo-hover-color);
}
.logo-dark {
  color: var(--secondari-text-color);

}
.logo-withe {
  color: var(--withe-logo-color);
  display: inline-block;
  margin-bottom: 16px;
}
/*-----------HOVER--------------*/
.nav-link:hover,
.nav-link:focus,
.contact-mail:hover,
.contact-mail:focus,
.contact-tel:hover,
.contact-tel:focus {
  color: var(--logo-hover-color);
}
/*==================================heder====================================*/
.header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav {
 
  margin-right: auto;
}
.heder-container,
.nav,
.nav-list {
  display: flex;
}
.nav-list {
  gap: 40px;
}
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  color: var(--secondari-text-color);
}

/*.contact {
 padding-top: 24px;
  padding-bottom: 24px;
}*/
.contact-mail {
  font-style: normal;
  color: inherit;
  margin-right: 40px;
}
.contact-tel {
  font-style: normal;
  color: inherit;
}
/*==================================hero====================================*/
.hero {
  background-image:linear-gradient(rgba(46,47,66,0.7),rgba(46,47,66,0.7)), url('../images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  width: 1440px;

}

.hero-section {
  padding-top: 188px;
  padding-bottom: 188px;
}
.main-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.11;
  max-width: 494px;
  margin: 0 auto;
  margin-bottom: 48px;
  color: var(--withe-text-color);
}
.modal-btn {
  padding: 16px 32px;
  color: var(--withe-text-color);
  background-color: var(--logo-hover-color);
  margin-left: auto;
  margin-right: auto;
  border: none;
}
.modal-btn:hover,
.modal-btn:focus {
  background: var(--hover-btn-color);
}
/*===========================activity-company=====================================*/

.activity-company-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}
.activity-company-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

/*-----------------------------work--------------------------------------------------*/
.our-work {
  padding-top: 0px;
}
.our-work-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}
.our-work-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

/*-----------------------------team---------------------------------------------------*/
.team {
  background-color: var(--withe-logo-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
}
.team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
.developer-name {
  text-align: center;
}
.developer-descriptions {
  text-align: center;
}
/*================================Costumes==============*/
.customers-title{
  font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 72px;
 }

 .customers{
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 156px;
 }

 .company-list{
  display: flex;
 }

 .company-logo-box{
  display: block;
  margin-right: 24px; 
 }

 .link-customers{
  display: block;
  width: 100%;
  height: 100%;
 }

 .company-logo{
  fill: black;
  fill: #8E8F99;

  width: 168px;
  height: 88px;
  border: 1px solid #8E8F99;
border-radius: 4px;
padding: 16px 32px;

 }

 .customers-icon{
  
 }

 .company-logo:hover{
  fill: #4D5AE5;;
  border: 1px solid #4D5AE5; ;

 }

 .company-logo-box:last-child{
  margin-right: 0;
 }

/*==================================footer====================================*/
.footer {
  background-color: var(--secondari-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  max-width: 264px;
  color: var(--footer-text-color);
}

/*================///////////////////////////////======portfolio=========////////////////=================*/
.border-header {
  border-bottom: 1px solid var(--footer-text-color);
}

.portfolio-section {
  padding-top: 96px;
  padding-bottom: 120px;
}
.btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.btn-text {
  padding: 12px 24px;
  border: 1px solid var(--footer-text-color);
  background: var(--withe-logo-color);
  color: var(--logo-hover-color);
}
.btn-text:focus,
.btn-text:hover {
  background: var(--hover-btn-color);
  color: var(--withe-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*======================card-set=====================*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.card-item {
  flex-basis: calc((100% - 2 * 24px) / 3);
}
.card-text {
  color: var(--primari-text-color);
}